<mat-toolbar class="nav-header" style="height: 100%;min-height: 0px;">
    <mat-toolbar-row style="height: 100%;">
        <div fxFlex="20" fxLayoutAlign="start center" class="logo"><img src="assets/img/logos/logo-claridad.svg"></div>
        <div fxFlex="60" class="logo"><img src="assets/img/logos/logoonpe.svg"></div>
        <div fxFlex="20" fxLayoutAlign="end center" class="logo">
            <span fxFlex="55">Consulta por candidatos</span>
            <mat-icon fxFlex="15" matSuffix>search</mat-icon>
            <mat-icon fxFlex="15" matSuffix>warning</mat-icon>
            <mat-icon fxFlex="15" matSuffix>help</mat-icon>
        </div>
    </mat-toolbar-row>
</mat-toolbar>