<div class="dashboard-container" fxLayout fxLayout="column" fxLayoutAlign="space-between center" fxLayoutWrap="wrap">
    <div fxLayoutWrap="wrap" fxFlex="8%">
    </div>
    <div fxLayout.sm="column" fxLayoutWrap="wrap" fxLayoutAlign="space-around center" fxFlex="92%" class="bloque1">
        <div fxLayout="column" fxFlex="32%" fxLayoutAlign="space-between center" style="height: 100%;width: 100%;">
            <div fxFlex="17%" style="width: 100%;">
                <app-reporte1 (typeOrg)="composer($event)"></app-reporte1>
            </div>
            <mat-card fxLayout="column" fxFlex="40%" style="padding: 7px;height: 100%;width: 100%;">
                <app-reporte2 style="height: 100%;width: 100%" fxLayout="column"></app-reporte2>
            </mat-card>
            <div fxFlex="40%" style="background: yellow;width: 100%;">3</div>
        </div>
        <div fxFlex="32%" style="background: salmon;height: 100%;width: 100%;">2</div>
        <div fxFlex="32%" style="background: skyblue;height: 100%;width: 100%;">3</div>
    </div>
</div>