<div fxLayout="row" fxLayoutAlign="space-between center" style="height: 100%;width: 100%;">
    <mat-card fxLayout="column" fxFlex="100%" style="padding: 0px;height: 100%;width: 100%;">
        <div fxLayout="column" class="franjaTitulo">
            <div fxLayout="row">
                <div class="franja_titulo"></div>
                <span fxLayout="row" fxLayoutAlign="center center" class="text_titulo_map" flex>Fecha de Presentación</span>
            </div>
        </div>
        <div fxLayout="column" id="chartdiv7" style="width: 100%;height: 100%;"></div>
    </mat-card>
</div>