<div fxLayout="row" fxLayoutAlign="space-between center" style="height: 100%;width: 100%;">
    <mat-card fxLayout="column" fxFlex="100%" style="padding: 0px;height: 100%;width: 100%;">
        <div fxLayout="row">
            <div class="franja_titulo"></div>
            <span fxLayout="row" fxLayoutAlign="center center" class="text_titulo_map" flex>Gastos de campaña de candidato</span>
        </div>
        <div fxLayout="row" style="width: 100%;height: 100%;">
            <div fxFlex="20" fxLayout="column">
                <div fxLayout="column" id="chartdiv4"></div>
            </div>
            <div fxFlex="5" fxLayout="column" style="border-left: 2px solid #d7ddff;margin: 7px 0 7px 0">
            </div>
            <div fxFlex="65" fxLayout="column">
                <button fxFlex="33" mat-button style="width: 100%;padding: 0;border-bottom: 1px solid #f0f0f0;">
                <div fxLayout="row" fxFlex="100"  style="width: 100%;font-size: 10px;color: rgba(0,0,0,0.60) !important;">
                    <div fxFlex="80" fxLayoutAlign="start center">
                        <div style="color: tomato;" fxLayout="row" fxLayoutAlign="center center">
                            <span></span> 
                        </div>DENTRO DEL PLAZO
                    </div> 
                    <div fxFlex="10" fxLayoutAlign="center center">
                        3213131
                    </div>
                    <div fxFlex="15" fxLayoutAlign="center center">
                        32%
                    </div>
                </div>
              </button>
                <button fxFlex="33" mat-button style="width: 100%;padding: 0;border-bottom: 1px solid #f0f0f0;">
                <div fxLayout="row" fxFlex="100"  style="width: 100%;font-size: 10px;color: rgba(0,0,0,0.60) !important;">
                    <div fxFlex="80" fxLayoutAlign="start center">
                        <div style="color: tomato;" fxLayout="row" fxLayoutAlign="center center">
                            <span></span> 
                        </div>FUERA DEL PLAZO 
                    </div> 
                    <div fxFlex="10" fxLayoutAlign="center center">
                        3213131
                    </div>
                    <div fxFlex="15" fxLayoutAlign="center center">
                        32%
                    </div>
                </div>
              </button>
                <button fxFlex="33" mat-button style="width: 100%;padding: 0;border-bottom: 1px solid #f0f0f0;">
                <div fxLayout="row" fxFlex="100"  style="width: 100%;font-size: 10px;color: rgba(0,0,0,0.60) !important;">
                    <div fxFlex="80" fxLayoutAlign="start center">
                        <div style="color: tomato;" fxLayout="row" fxLayoutAlign="center center">
                            <span></span> 
                        </div>NO PRESENTO 
                    </div> 
                    <div fxFlex="10" fxLayoutAlign="center center">
                        3213131
                    </div>
                    <div fxFlex="15" fxLayoutAlign="center center">
                        32%
                    </div>
                </div>
              </button>
            </div>
            <div fxFlex="15" fxLayout="column" style=" background-color: thistle;">

            </div>
        </div>
    </mat-card>
</div>