<mat-card class="example-card" style="padding: 7px;height: 100%;">
    <div fxFlex="20">
        <button mat-button class="customBtn" (click)="selectOption(1)" style="border-right: 5px solid #d7ddff;">
            <div class="text_counter" layout="row" layout-align="center center">51564</div>
            <div class="titNumberReporte">ORGANIZACIONES POLÍTICAS</div>         
        </button>
    </div>
    <div fxFlex="80" fxLayout="column" fxLayoutAlign="space-between center">
        <button fxFlex="25" mat-button *ngFor="let item of listData; let i = index" (click)="selectOption(item)" style="width: 100%;padding: 0;border-bottom: 1px solid #f0f0f0;">
            <div fxLayout="row" fxFlex="100"  style="width: 100%;font-size: 10px;color: rgba(0,0,0,0.60) !important;">
                <div fxFlex="80" fxLayoutAlign="start center">
                    <div class="{{ color[i] }}" fxLayout="row" fxLayoutAlign="center center">
                        <span></span> 
                    </div>{{item.descripcion}}
                </div> 
                <div fxFlex="10" fxLayoutAlign="center center">
                    {{item.cantidad}}
                </div>
                <div fxFlex="15" fxLayoutAlign="center center">
                    {{item.porcentaje}}
                </div>
            </div>
        </button>
    </div>
</mat-card>